<header>
    <nav>
        <a href="/">V.Play Demo</a>
        <ul>
            <li><a href="/products">Produits</a></li>
            <li><a href="/products/new">Ajouter un Produit</a></li>
        </ul>
    </nav>
</header>